.dashboard {
  min-height: 100vh;
  width: 100%;
  background-color: #f7f7f8;
}


.main {
  padding: clamp(16px, 2.2vw, 28px);
  margin-left: 260px;
  overflow-y: auto;
  min-height: 100vh;
}


@media (max-width: 1100px) {
  .main {
    margin-left: 240px;
  }
}

@media (max-width: 860px) {
  .main {
    margin-left: 0;
    padding-top: 84px;
  }
}

@media (max-width: 767px) {
  .main {
    margin-left: 0;
    padding: 84px 14px 18px;
  }
}
