.dashboard {
  min-height: 100vh;
  width: 100%;
  background-color: #f7f7f8;
}


.main {
  padding: 24px;
  margin-left: 260px; 
  overflow-y: auto;
}


@media (max-width: 767px) {
  .main {
    margin-left: 0;
  }
}